workflows/Backup de Workflows Github.json
{
  "active": false,
  "connections": {
    "On clicking 'execute'": {
      "main": [
        [
          {
            "node": "Variables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "github_status": {
      "main": [
        [
          {
            "node": "same",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "different",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "new",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "same": {
      "main": [
        [
          {
            "node": "OneAtATime",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "different": {
      "main": [
        [
          {
            "node": "GitHub Edit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "new": {
      "main": [
        [
          {
            "node": "GitHub Create",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub Edit": {
      "main": [
        [
          {
            "node": "OneAtATime",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub Create": {
      "main": [
        [
          {
            "node": "OneAtATime",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Every 12 hours": {
      "main": [
        [
          {
            "node": "Variables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "n8n": {
      "main": [
        [
          {
            "node": "OneAtATime",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "isDiffOrNew": {
      "main": [
        [
          {
            "node": "github_status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "isDiffOrNew",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Variables": {
      "main": [
        [
          {
            "node": "n8n",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OneAtATime": {
      "main": [
        [
          {
            "node": "Fin",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get a file",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Get a file": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-08-11T08:36:14.425Z",
  "id": "1q0Iyz48Hnah5IaA",
  "isArchived": true,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Backup de Workflows Github",
  "nodes": [
    {
      "parameters": {},
      "id": "ec4ca4a0-bec8-480c-8edd-3b7f05fd7bfe",
      "name": "On clicking 'execute'",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        -1376,
        224
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{$json[\"github_status\"]}}",
        "rules": {
          "rules": [
            {
              "value2": "same"
            },
            {
              "value2": "different",
              "output": 1
            },
            {
              "value2": "new",
              "output": 2
            }
          ]
        }
      },
      "id": "ac1d96fd-5145-4103-a143-a3549b63e1dd",
      "name": "github_status",
      "type": "n8n-nodes-base.switch",
      "position": [
        192,
        208
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "9f5d354b-531d-45b3-81a8-d2dfbc5a535d",
      "name": "same",
      "type": "n8n-nodes-base.noOp",
      "position": [
        416,
        32
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "723ec22e-9e38-46c0-9803-63652ead8335",
      "name": "different",
      "type": "n8n-nodes-base.noOp",
      "position": [
        416,
        224
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "d78beeaf-be3d-4edf-a734-11c92318b3f0",
      "name": "new",
      "type": "n8n-nodes-base.noOp",
      "position": [
        416,
        416
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "edit",
        "owner": "={{$node[\"Variables\"].json[\"repo\"][\"owner\"]}}",
        "repository": "={{$node[\"Variables\"].json[\"repo\"][\"name\"]}}",
        "filePath": "={{$node[\"Variables\"].json[\"repo\"][\"path\"]}}{{$node[\"OneAtATime\"].json[\"name\"]}}.json",
        "fileContent": "={{$node[\"isDiffOrNew\"].json[\"n8n_data_stringy\"]}}",
        "commitMessage": "=[N8N Backup] {{$node[\"OneAtATime\"].json[\"name\"]}}.json ({{$json[\"github_status\"]}})"
      },
      "id": "185fdbfe-8f07-4919-849a-74cf2efd3ca2",
      "name": "GitHub Edit",
      "type": "n8n-nodes-base.github",
      "position": [
        640,
        480
      ],
      "typeVersion": 1,
      "webhookId": "b01ee0ec-daab-429b-a44c-86691e72e2bc",
      "credentials": {
        "githubApi": {
          "id": "54StzzsnMVu7TYgt",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "owner": "={{$node[\"Variables\"].json[\"repo\"][\"owner\"]}}",
        "repository": "={{$node[\"Variables\"].json[\"repo\"][\"name\"]}}",
        "filePath": "={{$node[\"Variables\"].json[\"repo\"][\"path\"]}}{{$node[\"OneAtATime\"].json[\"name\"]}}.json",
        "fileContent": "={{$node[\"isDiffOrNew\"].json[\"n8n_data_stringy\"]}}",
        "commitMessage": "=[N8N Backup] {{$node[\"OneAtATime\"].json[\"name\"]}}.json ({{$json[\"github_status\"]}})"
      },
      "id": "25294b08-3617-48d0-ae96-c452e999a8ba",
      "name": "GitHub Create",
      "type": "n8n-nodes-base.github",
      "position": [
        640,
        672
      ],
      "typeVersion": 1,
      "webhookId": "2d6ae5c4-ae1d-4365-95ff-87b912625a36",
      "credentials": {
        "githubApi": {
          "id": "54StzzsnMVu7TYgt",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "mode": "everyX",
              "value": 12
            }
          ]
        }
      },
      "id": "6f4c2958-6968-4a05-a48d-3b7c582b39c6",
      "name": "Every 12 hours",
      "type": "n8n-nodes-base.cron",
      "position": [
        -1376,
        416
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "filters": {},
        "requestOptions": {}
      },
      "id": "21bc0343-2ac8-46dc-b180-24272a7be48f",
      "name": "n8n",
      "type": "n8n-nodes-base.n8n",
      "position": [
        -928,
        224
      ],
      "typeVersion": 1,
      "credentials": {
        "n8nApi": {
          "id": "d0NUuqVdTlZkqwAg",
          "name": "n8n account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// File Returned with Content\nif (Object.keys($input.all()[0].json).includes(\"content\")) {\n  // Get JSON Objects\n  var origWorkflow = JSON.parse(Buffer.from($input.all()[0].json.content, 'base64'));\n  var n8nWorkflow = $input.all()[1].json;\n  \n  // Order JSON Objects\n  var orderedOriginal = {}\n  var orderedActual = {}\n  \n  Object.keys(origWorkflow).sort().forEach(function(key) {\n    orderedOriginal[key] = origWorkflow[key];\n  });\n  \n  Object.keys(n8nWorkflow).sort().forEach(function(key) {\n    orderedActual[key] = n8nWorkflow[key];\n  });\n\n  // Determine Difference\n  if ( JSON.stringify(orderedOriginal) === JSON.stringify(orderedActual) ) {\n    $input.all()[0].json.github_status = \"same\";\n    $input.all()[0].json.content_decoded = orderedOriginal;\n  } else {\n    $input.all()[0].json.github_status = \"different\";\n    $input.all()[0].json.content_decoded = orderedOriginal;\n    $input.all()[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n  }\n// No File Returned / New Workflow\n} else {\n  // Order JSON Object\n  var n8nWorkflow = ($input.all()[1].json);\n  var orderedActual = {}\n  Object.keys(n8nWorkflow).sort().forEach(function(key) {\n    orderedActual[key] = n8nWorkflow[key];\n  });\n  \n  // Proper Formatting\n  $input.all()[0].json.github_status = \"new\";\n  $input.all()[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n}\n\n// Return Items\nreturn $input.all();"
      },
      "id": "9dc230a3-317c-4c1e-bb54-8fa31f79dc40",
      "name": "isDiffOrNew",
      "type": "n8n-nodes-base.code",
      "position": [
        -32,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "344a705a-279a-43e1-93e0-02b32b646407",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "position": [
        -256,
        240
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "repo.owner",
              "value": "Joel"
            },
            {
              "name": "repo.name",
              "value": "Joel-n8n-Workflows"
            },
            {
              "name": "repo.path",
              "value": "workflows/"
            }
          ]
        },
        "options": {}
      },
      "id": "65cde90b-15ef-410e-a789-4c855e095485",
      "name": "Variables",
      "type": "n8n-nodes-base.set",
      "position": [
        -1152,
        224
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "0e74d284-5285-4bda-9b87-e25164a0564f",
      "name": "Fin",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -480,
        -16
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "e9d66476-2340-45d6-9e58-7ab3f58385f0",
      "name": "OneAtATime",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -704,
        224
      ]
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "owner": {
          "__rl": true,
          "value": "sdfsdf",
          "mode": "name"
        },
        "repository": "={{$node[\"Variables\"].json[\"repo\"][\"name\"]}}",
        "filePath": "={{$node[\"Variables\"].json[\"repo\"][\"path\"]}}{{$json[\"name\"]}}.json",
        "asBinaryProperty": false,
        "additionalParameters": {}
      },
      "id": "e6af572b-6ddc-463c-9809-13b30f5da4e9",
      "name": "Get a file",
      "type": "n8n-nodes-base.github",
      "position": [
        -464,
        144
      ],
      "typeVersion": 1,
      "alwaysOutputData": true,
      "webhookId": "ca21f76a-a8d3-41aa-bb38-f7005fb608ca",
      "credentials": {
        "githubApi": {
          "id": "54StzzsnMVu7TYgt",
          "name": "GitHub account"
        }
      },
      "continueOnFail": true
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-08-11T09:04:52.000Z",
  "versionId": "751544e9-afed-4347-9c52-0a69aff7ef2d"
}