workflows/My workflow 2.json
{
  "active": false,
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "agente_reservar": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent3",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory1": {
      "ai_memory": [
        [
          {
            "node": "AI Agent3",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent2": {
      "main": [
        [
          {
            "node": "WhatsApp Business Cloud3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory2": {
      "ai_memory": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Estado reservar": {
      "main": [
        [
          {
            "node": "ESTADO ACTIVO?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Estado modificar": {
      "main": [
        [
          {
            "node": "ESTADO ACTIVO?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Estado duda": {
      "main": [
        [
          {
            "node": "ESTADO ACTIVO?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ESTADO USUARIO": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "WhatsApp Business Cloud",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TIPO DE MENSAJE": {
      "main": [
        [
          {
            "node": "Estado reservar",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Estado modificar",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Estado duda",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "WhatsApp Business Cloud1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "agente_modificar": {
      "ai_tool": [
        [
          {
            "node": "AI Agent3",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "ESTADO ACTIVO?": {
      "main": [
        [
          {
            "node": "ESTADO USUARIO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "CONFIRMA CITA SI/NO?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "TIPO DE MENSAJE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase": {
      "main": [
        [
          {
            "node": "WhatsApp Business Cloud4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "ESTADO ACTIVO?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "verificar_cita": {
      "ai_tool": [
        [
          {
            "node": "AI Agent3",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "CONFIRMA CITA SI/NO?": {
      "main": [
        [
          {
            "node": "Google Calendar",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Google Calendar2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Calendar": {
      "main": [
        [
          {
            "node": "Obtener ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener ID": {
      "main": [
        [
          {
            "node": "Google Calendar1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Calendar2": {
      "main": [
        [
          {
            "node": "Obtener ID1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener ID1": {
      "main": [
        [
          {
            "node": "Google Calendar3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "consultar_duda": {
      "ai_tool": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent3": {
      "main": [
        [
          {
            "node": "WhatsApp Business Cloud2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp Trigger": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-06-12T20:18:24.191Z",
  "id": "1prngA64Jj2djryj",
  "isArchived": false,
  "meta": null,
  "name": "My workflow 2",
  "nodes": [
    {
      "parameters": {
        "phoneNumberId": "563814460151770",
        "recipientPhoneNumber": "={{ $('WhatsApp Trigger').item.json.messages[0].from }}",
        "template": "agente_botones|es_CL"
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        2020,
        1640
      ],
      "id": "b0e301d5-4453-4cc9-b1e6-f9f52bae5025",
      "name": "WhatsApp Business Cloud",
      "webhookId": "a635ce84-99e4-46bc-ab3f-c33c2a2eda63"
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "563814460151770",
        "recipientPhoneNumber": "={{ $('ESTADO USUARIO').item.json.phone }}",
        "textBody": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        2800,
        340
      ],
      "id": "ae673dfd-eb0f-41d0-8c65-9e47721892a8",
      "name": "WhatsApp Business Cloud1",
      "webhookId": "cb5ecc89-7331-434a-9be6-47216f0284da"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        2280,
        600
      ],
      "id": "5d4cad7c-4c67-4621-b85e-6eff4015b330",
      "name": "OpenAI Chat Model"
    },
    {
      "parameters": {
        "name": "agente_reservar",
        "description": "Eres el agente encargado de reservar las citas de los clientes",
        "workflowId": {
          "__rl": true,
          "value": "RazJH9C17BPZOTEw",
          "mode": "list",
          "cachedResultName": "reservar_citas_clinica"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.1,
      "position": [
        2600,
        620
      ],
      "id": "bdfabb28-caa9-422d-a99e-300116fa1365",
      "name": "agente_reservar"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "56954675214"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        2420,
        600
      ],
      "id": "c0bbe632-bdf8-49d9-9027-4a8fcbd796af",
      "name": "Postgres Chat Memory"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=telefono usuario: {{ $('Edit Fields').item.json.telefono }}\nmensaje usuario boton:{{ $('WhatsApp Trigger').item.json.messages[0].button.text }}\nnombre usuario:{{ $('WhatsApp Trigger').item.json.contacts[0].profile.name }}\nmensaje usuario normal:{{ $('WhatsApp Trigger').item.json.messages[0].text.body }}",
        "options": {
          "systemMessage": "=# Rol\nAsistente de gesti칩n de citas m칠dicas con acceso a herramientas de verificaci칩n y modificaci칩n de reservas. Tiene conocimiento sobre formatos de fecha y l칩gica conversacional, capaz de interpretar entradas ambiguas como \"ma침ana a las 5pm\". El asistente est치 entrenado para interactuar en lenguaje natural y manejar fechas en formato ISO.\n\n# Tarea\nGuiar al usuario para modificar una cita m칠dica existente, utilizando las herramientas `verificar_cita` y `agente_modificar` sin redundancias.\n\n# Detalles Espec칤ficos\n- Busca la cita del usuario en \"buscar_cita\"\n- Convertir cualquier entrada ambigua a formato ISO sin zona horaria\n-Preguntale al usuario para cuando quiere modificar su cita.\n\n- Usar `agente_modificar` pasandole la fecha actual:{fecha actual:, fecha nueva:{fecha nueva} y el numero de telefono:{telefono}.\n- Finalizar con un mensaje claro ofreciendo volver al men칰 principal.\n- No utilizar asteriscos ni ning칰n formato especial en las respuestas.\n- Interpretar expresiones como \"ma침ana\", \"m침a\", \"a las 5pm\", etc.\n\n# Contexto\nEste flujo se aplica dentro de una aplicaci칩n que gestiona reservas m칠dicas. La l칩gica actual est치 llamando dos veces a la herramienta `verificar_cita`, lo cual es innecesario y puede provocar problemas de eficiencia y redundancia.\n\n# Ejemplos\n\n**Usuario:** Tengo una cita ma침ana a las 5pm  \n**IA:** Entiendo, tu cita es el 2025-04-23T17:00. Un momento...  \n(*verifica con verificar_cita*)  \n**IA:** Tu cita ha sido encontrada. 쯇ara cu치ndo te gustar칤a modificarla?  \n**Usuario:** El viernes a las 10am  \n**IA:** Modificando tu cita de 2025-04-23T17:00 a 2025-04-25T10:00...  \n(*llama agente_modificar con los datos necesarios*)  \n**IA:** Tu cita ha sido modificada exitosamente. Si desea volver al menu principal escriba /volver\n\n# Notas\n- La fecha de hoy es {{ $now }}\n- No se debe llamar a `verificar_cita` m치s de una vez por cita.\n- Las fechas deben calcularse siempre a partir del d칤a actual.\n- Siempre presentar los mensajes sin s칤mbolos de formato."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        3320,
        500
      ],
      "id": "91de2fa8-404b-44a0-9e58-f2fb18bd0e5a",
      "name": "AI Agent1",
      "disabled": true
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        2240,
        1060
      ],
      "id": "27dd5787-221f-4ded-9824-be7fe6689ee3",
      "name": "OpenAI Chat Model1"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "56954675214"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        2380,
        1060
      ],
      "id": "bb2c15db-b6d3-4f48-a627-c9d0cf55db9d",
      "name": "Postgres Chat Memory1"
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "563814460151770",
        "recipientPhoneNumber": "={{ $('ESTADO USUARIO').item.json.phone }}",
        "textBody": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        2800,
        820
      ],
      "id": "7007e8ab-c986-41f0-abc1-269e5f79a2b0",
      "name": "WhatsApp Business Cloud2",
      "webhookId": "cb5ecc89-7331-434a-9be6-47216f0284da"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=telefono usuario: {{ $('Edit Fields').item.json.telefono }}\nmensaje usuario boton:{{ $('WhatsApp Trigger').item.json.messages[0].button.text }}\nnombre usuario:{{ $('WhatsApp Trigger').item.json.contacts[0].profile.name }}\nmensaje usuario normal:{{ $('WhatsApp Trigger').item.json.messages[0].text.body }}",
        "options": {
          "systemMessage": "=Eres el agente encargado de resolver las dudas de los usuarios"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        2380,
        1260
      ],
      "id": "9d9eb07e-3896-4421-ae63-a7ae01afd6f3",
      "name": "AI Agent2"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        2320,
        1500
      ],
      "id": "c1c11293-21d6-49b9-86b3-77888283682d",
      "name": "OpenAI Chat Model2"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "56954675214"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        2480,
        1500
      ],
      "id": "29836973-04c3-4c01-a231-2531238f15c6",
      "name": "Postgres Chat Memory2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "0d1163ca-e4e9-49f8-a48f-3e692db9eff3",
              "leftValue": "={{ $json.messages }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -180,
        1240
      ],
      "id": "2afbf253-9be0-4592-b0a0-cd1c8e0397ed",
      "name": "If1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9e665965-7071-4b1a-a056-f348d5fe9011",
              "name": "telefono",
              "value": "={{ $json.contacts[0].wa_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        40,
        1220
      ],
      "id": "8941e33f-236d-4a6c-bd4c-2f1738e6f2d4",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "tableId": "estado_usuarios",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "phone",
              "fieldValue": "={{ $('WhatsApp Trigger').item.json.messages[0].from }}"
            },
            {
              "fieldId": "state",
              "fieldValue": "=Estado reservar"
            },
            {
              "fieldId": "estado_expirado",
              "fieldValue": "={{ DateTime.local().plus({ hours: 2 }).toISO() }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1000,
        620
      ],
      "id": "60e689bf-ddac-4282-8eb6-64ab65095084",
      "name": "Estado reservar"
    },
    {
      "parameters": {
        "tableId": "estado_usuarios",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "phone",
              "fieldValue": "={{ $('WhatsApp Trigger').item.json.messages[0].from }}"
            },
            {
              "fieldId": "state",
              "fieldValue": "=Estado modificar"
            },
            {
              "fieldId": "estado_expirado",
              "fieldValue": "={{ DateTime.local().plus({ hours: 2 }).toISO() }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1000,
        900
      ],
      "id": "ff989ad3-647f-4e9e-8cfd-1b3f03ddc366",
      "name": "Estado modificar"
    },
    {
      "parameters": {
        "tableId": "estado_usuarios",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "phone",
              "fieldValue": "={{ $('WhatsApp Trigger').item.json.messages[0].from }}"
            },
            {
              "fieldId": "state",
              "fieldValue": "=Estado duda"
            },
            {
              "fieldId": "estado_expirado",
              "fieldValue": "={{ DateTime.local().plus({ hours: 2 }).toISO() }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1000,
        1100
      ],
      "id": "d12f2607-07c2-4508-a4c9-daae34c999da",
      "name": "Estado duda"
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "563814460151770",
        "recipientPhoneNumber": "={{ $('ESTADO USUARIO').item.json.phone }}",
        "textBody": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        2760,
        1260
      ],
      "id": "9cb92d76-42d7-48de-a086-1c5263a8bbdd",
      "name": "WhatsApp Business Cloud3",
      "webhookId": "cb5ecc89-7331-434a-9be6-47216f0284da"
    },
    {
      "parameters": {
        "content": "## NODO SWITCH TIPO DE MENSAJE\n-Verificamos que el mensaje que proviene de whatsapp sea:\n1.Tipo boton \"Reservar cita\"\n2.Tipo boton \"Modificar cita\"\n3.Tipo boton \"Tengo una duda\"\n(ESTAS SON LAS OPCIONES DEL MENSAJE TIPO PLANTILLA QUE MANDAMOS EN EL PRIMER MENSAJE DE WHATSAPP)\n\n4.Mensaje tipo texto plano \"Sin asignar\"\n\n## NODOS SUPABASE\n-Dependiendo del boton que escoja el usuario le asignamos un estado mediante supabase:\n1.\"Estado reservar\"\n2.\"Estado modificar\"\n3.\"Estado duda\"\n\n## SESION ACTIVA?\n-Con este nodo obtenemos el ESTADO actual del usuario\n\n## NODO SWITCH ESTADO USUARIO\n-Ahora con este nodo verificamos en que estado se encuentra el usuario y enrutamos al agente correspondiente.\n-En el primer mensaje del usuario no existe ningun estado,  por lo que se le envia el mensaje tipo plantilla con botones de whatsapp\n",
        "height": 1400,
        "width": 1700
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "482e093b-5429-4825-96ce-ccfeadeb6dc3",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.state }}",
                    "rightValue": "Estado reservar",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "9b0cd53d-9307-49f8-a14a-808613386253"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Agente reservar"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "3382c769-6022-4388-80e5-32b45ef7f26e",
                    "leftValue": "={{ $json.state }}",
                    "rightValue": "Estado modificar",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Agente modificar"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "50344530-09e7-428e-a43c-12f4d7b89584",
                    "leftValue": "={{ $json.state }}",
                    "rightValue": "Estado duda",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Agente duda"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "97a58f3f-343f-4485-b1b3-cb2014aecf2c",
                    "leftValue": "={{ $json.state }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notExists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Enviar primer mensaje"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        1760,
        1260
      ],
      "id": "61ef83e6-5606-40ff-ba93-263a57b89344",
      "name": "ESTADO USUARIO"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('WhatsApp Trigger').item.json.messages[0].button.text }}",
                    "rightValue": "Reservar cita",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "01542972-4634-46c9-acfe-5ba2c8b6febb"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Reservar cita"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "d687c42a-460b-49c3-b601-95841e6c2919",
                    "leftValue": "={{ $('WhatsApp Trigger').item.json.messages[0].button.text }}",
                    "rightValue": "Modificar cita",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Modificar cita"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "2be0f1a0-a1f6-46b9-b016-24830795275d",
                    "leftValue": "={{ $('WhatsApp Trigger').item.json.messages[0].button.text }}",
                    "rightValue": "Tengo una duda",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Tengo una duda"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "7f736f80-26aa-4a5b-a888-51b9e1134a9e",
                    "leftValue": "={{ $('WhatsApp Trigger').item.json.messages[0].button }}",
                    "rightValue": "",
                    "operator": {
                      "type": "object",
                      "operation": "notExists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Sin asignar"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        540,
        1200
      ],
      "id": "6dad227c-8f75-4ffd-b8c3-789912385bfc",
      "name": "TIPO DE MENSAJE"
    },
    {
      "parameters": {
        "content": "## BORRAR ESTADO DEL USUARIO\n-COMO BORRAMOS EL ESTADO DEL USUARIO?\nEL ESTADO DEL USUARIO LO BORRAMOS DENTRO DEL SUBAGENTE, EN ESTE CASO \"AGENTE_RESERVAR\". CUANDO LA RESERVA SE HAYA REALIZADO EXITOSAMENTE BORRAMOS EL ESTADO DEL USUARIO EN LA BASE DE DATOS DE SUPABASE. (ver dentro agente reservar).\n\n",
        "height": 720,
        "width": 900,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1820,
        40
      ],
      "id": "6521800d-fd42-47d0-8075-32acad5e925a",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=telefono usuario: {{ $('Edit Fields').item.json.telefono }}\nmensaje usuario boton:{{ $('WhatsApp Trigger').item.json.messages[0].button.text }}\nnombre usuario:{{ $('WhatsApp Trigger').item.json.contacts[0].profile.name }}\nmensaje usuario normal:{{ $('WhatsApp Trigger').item.json.messages[0].text.body }}",
        "options": {
          "systemMessage": "=#INSTRUCCIONES\n1.Pregunta al usuario exactamente: para cuando quiere reservar su cita? porfavor escribar la fecha y hora lo mas claro posible.\n2.Proporciona la fecha:{fecha},telefono:{telefono} y nombre:{nombre} a la herramienta \"agente_reservar\"\n3. Una vez realizada la reserva decirle al usuario que si quiere volver al menu principal escriba exactamente \"/volver\", ejemplo:\nSi desea volver al menu principal escriba /volver\n\n#INTERPRETACION DE FECHAS\nSigue la siguiente logica para interpretar las fechas cuando la respuesta del usuario no sea clara:\n- No siempre se te dara la fecha y hora en el formato adecuado\n- Por ejemplo te pueden decir ma침ana a las 5pm, calcular la fecha a partir de hoy.\n- 5pm equivale a 17:00\n- 8am equivale a 08:00\n- m침a significa ma침ana\n\n#IMPORTANTE:\n- La fecha de hoy es {{ $now }}\n- Maneja las fechas en ISO\n- Calcula las fechas siempre a partir del dia de hoy.\n- No utilices asteriscos ni ning칰n formato de texto (como negritas o cursivas) en las respuestas. El texto debe presentarse de forma simple, sin s칤mbolos especiales."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        2380,
        340
      ],
      "id": "cb8e6ba2-507d-4fab-b5bb-27132863ef4b",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "name": "agente_modificar",
        "description": "Eres la herramienta encargada de modificar las citas de los usuarios.",
        "workflowId": {
          "__rl": true,
          "value": "r5roeAloIaE0vsZ6",
          "mode": "list",
          "cachedResultName": "modificar_cita_clinica"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.1,
      "position": [
        2720,
        1060
      ],
      "id": "ae1f9330-0070-455b-9793-ce046a1ca20c",
      "name": "agente_modificar"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "estado_usuarios",
        "filters": {
          "conditions": [
            {
              "keyName": "phone",
              "keyValue": "={{ $('WhatsApp Trigger').item.json.contacts[0].wa_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1460,
        1280
      ],
      "id": "e61aae71-11a5-429e-b561-daff9fc01f83",
      "name": "ESTADO ACTIVO?",
      "alwaysOutputData": true,
      "executeOnce": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "ab07a938-132a-4917-8498-83693bc05e43",
              "leftValue": "={{ $('WhatsApp Trigger').item.json.messages[0].button.text }}",
              "rightValue": "SI",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "4db46750-71e3-45de-bdc2-41733de886c5",
              "leftValue": "={{ $('WhatsApp Trigger').item.json.messages[0].button.text }}",
              "rightValue": "=NO",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        320,
        1220
      ],
      "id": "140fccaf-668e-4c03-b4a5-790c958ff92d",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "delete",
        "tableId": "estado_usuarios",
        "filters": {
          "conditions": [
            {
              "keyName": "=phone",
              "condition": "eq",
              "keyValue": "={{ $json.telefono }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1180,
        1720
      ],
      "id": "f0cf974e-b8f5-46f5-8724-e72675527893",
      "name": "Supabase"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "d8114e15-90f1-4733-90bd-b7c0f9af8a02",
              "leftValue": "={{ $('WhatsApp Trigger').item.json.messages[0].text.body }}",
              "rightValue": "/volver",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1000,
        1300
      ],
      "id": "ce09ee25-d179-4f96-a7a7-cdbc8b32d4a4",
      "name": "If2"
    },
    {
      "parameters": {
        "phoneNumberId": "563814460151770",
        "recipientPhoneNumber": "={{ $json.phone }}",
        "template": "agente_botones|es_CL"
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        1400,
        1720
      ],
      "id": "e670da2a-8daf-4ccd-90cd-9451df5a3843",
      "name": "WhatsApp Business Cloud4",
      "webhookId": "a635ce84-99e4-46bc-ab3f-c33c2a2eda63"
    },
    {
      "parameters": {
        "name": "verificar_cita",
        "description": "Eres la herramienta encargada de verificar si existe la cita del usuario",
        "workflowId": {
          "__rl": true,
          "value": "1xWPSkc5mv90nXga",
          "mode": "list",
          "cachedResultName": "verificar_cita"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.1,
      "position": [
        2540,
        1080
      ],
      "id": "700dcd39-a5c2-4d6b-8298-8f4b636eb95e",
      "name": "verificar_cita"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "4f897740-eacd-4cab-9733-da1c3c6f5c80",
              "leftValue": "={{ $('If1').item.json.messages[0].button.text }}",
              "rightValue": "SI",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        560,
        2160
      ],
      "id": "f8cc9017-0f4a-4743-bd4f-19d00ae40bbf",
      "name": "CONFIRMA CITA SI/NO?",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "iacondiegov@gmail.com",
          "mode": "list",
          "cachedResultName": "iacondiegov@gmail.com"
        },
        "timeMin": "={{$now}}",
        "timeMax": "={{ $now.plus({ day: 1 }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        800,
        2100
      ],
      "id": "66e8c65c-1c95-45d6-bda5-eb06d9e8779d",
      "name": "Google Calendar",
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e4226e1c-d47a-466e-a4d6-0b7bedddbcc5",
              "leftValue": "={{ $json.summary }}",
              "rightValue": "={{ $('WhatsApp Trigger').item.json.messages[0].from }}",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        1000,
        2100
      ],
      "id": "6cacd7a3-694e-4248-9738-c2868f5d49a5",
      "name": "Obtener ID",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "update",
        "calendar": {
          "__rl": true,
          "value": "iacondiegov@gmail.com",
          "mode": "list",
          "cachedResultName": "iacondiegov@gmail.com"
        },
        "eventId": "={{ $json.id }}",
        "updateFields": {
          "summary": "=游릭{{ $json.summary }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        1220,
        2100
      ],
      "id": "6ca335a8-67e4-4167-84d0-e242879949cb",
      "name": "Google Calendar1",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "iacondiegov@gmail.com",
          "mode": "list",
          "cachedResultName": "iacondiegov@gmail.com"
        },
        "timeMin": "={{$now}}",
        "timeMax": "={{ $now.plus({ day: 1 }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        820,
        2280
      ],
      "id": "5daae493-8638-44a7-a9fd-3972eaa1a411",
      "name": "Google Calendar2",
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e4226e1c-d47a-466e-a4d6-0b7bedddbcc5",
              "leftValue": "={{ $json.summary }}",
              "rightValue": "={{ $('WhatsApp Trigger').item.json.messages[0].from }}",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        1020,
        2280
      ],
      "id": "cb491aa6-bfd0-4f7f-85dd-716f66fb00e5",
      "name": "Obtener ID1",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "update",
        "calendar": {
          "__rl": true,
          "value": "iacondiegov@gmail.com",
          "mode": "list",
          "cachedResultName": "iacondiegov@gmail.com"
        },
        "eventId": "={{ $json.id }}",
        "updateFields": {
          "summary": "=游댮{{ $json.summary }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        1220,
        2280
      ],
      "id": "94fac4d5-caa5-468c-9c68-4a310aa178e8",
      "name": "Google Calendar3",
      "disabled": true
    },
    {
      "parameters": {
        "name": "consultar_duda",
        "description": "Eres la herrramienta encargada de resolver las dudas del usuario.",
        "workflowId": {
          "__rl": true,
          "value": "FROW471LyfgJtPql",
          "mode": "list",
          "cachedResultName": "consultar_duda"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.1,
      "position": [
        2640,
        1480
      ],
      "id": "d078a092-5bd3-457c-82d4-001f1d136834",
      "name": "consultar_duda"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=telefono usuario: {{ $('Edit Fields').item.json.telefono }}\nmensaje usuario boton:{{ $('WhatsApp Trigger').item.json.messages[0].button.text }}\nnombre usuario:{{ $('WhatsApp Trigger').item.json.contacts[0].profile.name }}\nmensaje usuario normal:{{ $('WhatsApp Trigger').item.json.messages[0].text.body }}",
        "options": {
          "systemMessage": "=# Rol\nAsistente de gesti칩n de citas m칠dicas con acceso a herramientas de verificaci칩n y modificaci칩n de reservas. Tiene conocimiento sobre formatos de fecha y l칩gica conversacional, capaz de interpretar entradas ambiguas como \"ma침ana a las 5pm\". El asistente est치 entrenado para interactuar en lenguaje natural y manejar fechas en formato ISO.\n\n# Tarea\nGuiar al usuario para modificar una cita m칠dica existente, utilizando las herramientas `verificar_cita` y `agente_modificar` sin redundancias.\n\n# Detalles Espec칤ficos\n- El asistente debe solicitar la fecha actual de la cita del usuario.\n- Convertir cualquier entrada ambigua a formato ISO sin zona horaria\n- Verificar la existencia de la cita solo una vez con la herramienta `verificar_cita`, envia el telefono y la fecha.\n- Si la cita existe, solicitar la nueva fecha deseada y tambi칠n convertirla a formato ISO sin zona horaria\n- Usar `agente_modificar` con los par치metros necesarios para realizar el cambio.\n- Finalizar con un mensaje claro ofreciendo volver al men칰 principal.\n- No utilizar asteriscos ni ning칰n formato especial en las respuestas.\n- Interpretar expresiones como \"ma침ana\", \"m침a\", \"a las 5pm\", etc.\n\n# Contexto\nEste flujo se aplica dentro de una aplicaci칩n que gestiona reservas m칠dicas. La l칩gica actual est치 llamando dos veces a la herramienta `verificar_cita`, lo cual es innecesario y puede provocar problemas de eficiencia y redundancia.\n\n# Ejemplos\n\n**Usuario:** Tengo una cita ma침ana a las 5pm  \n**IA:** Entiendo, tu cita es el 2025-04-23T17:00. Un momento...  \n(*verifica con verificar_cita*)  \n**IA:** Tu cita ha sido encontrada. 쯇ara cu치ndo te gustar칤a modificarla?  \n**Usuario:** El viernes a las 10am  \n**IA:** Modificando tu cita de 2025-04-23T17:00 a 2025-04-25T10:00...  \n(*llama agente_modificar con los datos necesarios*)  \n**IA:** Tu cita ha sido modificada exitosamente. Si desea volver al menu principal escriba /volver\n\n# Notas\n- La fecha de hoy es {{ $now }}\n- No se debe llamar a `verificar_cita` m치s de una vez por cita.\n- Las fechas deben calcularse siempre a partir del d칤a actual.\n- Siempre presentar los mensajes sin s칤mbolos de formato."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        2400,
        820
      ],
      "id": "80ca8dc7-e127-4653-a758-e9cf6dc0d7f3",
      "name": "AI Agent3"
    },
    {
      "parameters": {
        "updates": [
          "messages"
        ],
        "options": {}
      },
      "type": "n8n-nodes-base.whatsAppTrigger",
      "typeVersion": 1,
      "position": [
        -360,
        1240
      ],
      "id": "67d1d492-14cc-4d1f-9519-8c561ef83846",
      "name": "WhatsApp Trigger",
      "webhookId": "134c1ad0-da70-4347-9403-602e2ebd86ec"
    }
  ],
  "pinData": {
    "WhatsApp Trigger": [
      {
        "json": {
          "messaging_product": "whatsapp",
          "metadata": {
            "display_phone_number": "56942074448",
            "phone_number_id": "563814460151770"
          },
          "contacts": [
            {
              "profile": {
                "name": "Diego Vasquez"
              },
              "wa_id": "56954675214"
            }
          ],
          "messages": [
            {
              "from": "56954675214",
              "id": "wamid.HBgLNTY5NTQ2NzUyMTQVAgASGBYzRUIwQTU0QjZFRjg4RUExRkE5NTYyAA==",
              "timestamp": "1747063078",
              "text": {
                "body": "/volver"
              },
              "type": "text"
            }
          ],
          "field": "messages"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-06-12T20:18:24.191Z",
  "versionId": "4a00569b-7389-41c2-8cf7-6c897a6a92c6"
}