workflows/Preparacion_Email.json
{
  "active": false,
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Google Sheets1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scrape Profiles + Posts - Relevance AI1": {
      "main": [
        [
          {
            "node": "Research Company - Perplexity1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Research Company - Perplexity1": {
      "main": [
        [
          {
            "node": "Analyse",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets1": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Scrape Profiles + Posts - Relevance AI1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Analyse": {
      "main": [
        [
          {
            "node": "Email #1 #2 #3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email #1 #2 #3": {
      "main": [
        [
          {
            "node": "Emails",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Emails": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Time Zone",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Time Zone": {
      "main": [
        [
          {
            "node": "Sender Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sender Email": {
      "main": [
        [
          {
            "node": "Opt Out Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Opt Out Token": {
      "main": [
        [
          {
            "node": "Google Sheets2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Google Sheets1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-07-14T20:10:04.806Z",
  "id": "Wf6uSO2CwTvePVm5",
  "isArchived": false,
  "meta": null,
  "name": "Preparacion_Email",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 23 * * SUN"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -6100,
        155
      ],
      "id": "4053df19-4522-4b95-a8ea-9e5f5e5b93be",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1pY5nJihyUUObA1LpbhdgANq0DSX7A9TLOTWlEr9PMBk",
          "mode": "list",
          "cachedResultName": "Research",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1pY5nJihyUUObA1LpbhdgANq0DSX7A9TLOTWlEr9PMBk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1pY5nJihyUUObA1LpbhdgANq0DSX7A9TLOTWlEr9PMBk/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Analysed",
              "lookupValue": "No"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -5880,
        155
      ],
      "id": "e8bcd93b-390a-465a-b92d-f0c9308641b6",
      "name": "Google Sheets1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api-f1db6c.stack.tryrelevance.com/latest/studios/a68f4a21-2330-496d-ad76-42b5a712f357/trigger_webhook?project=4f639ecd3fda-432b-a293-0115f9a16558",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "4f639ecd3fda-432b-a293-0115f9a16558:sk-ZDU5Nzc5YTUtMmIyMi00NmQ2LTkwNDctNDMwNzg4YjE1ZDc1"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n\"linkedin_url\":\"{{ $json[\"LinkedIn URL\"] }}\",\n\"last_x_days\":30\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -5440,
        80
      ],
      "id": "bbe00e3d-b60a-48b4-9be0-3b86a673ff42",
      "name": "Scrape Profiles + Posts - Relevance AI1",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.perplexity.ai/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"sonar\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are a researcher in a business development team. Your job is to find as much research as you can about a prospect company. You must ensure your research is for the correct company and is highly accurate. Your research must always include what the prospect company does in detail. Your research should also highlight any recent news or accomplishments from the company.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Find as much info as you can about {{ $('Scrape Profiles + Posts - Relevance AI1').last().json.linkedin_profile_details_data.company }} }} This is their website URL: {{ $('Scrape Profiles + Posts - Relevance AI1').last().json.linkedin_profile_details_data.company_website }}. Make sure your research is 100% related to them.\"\n    }\n  ]\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -5220,
        80
      ],
      "id": "404c57a4-0de0-4d78-b486-59c981d3b242",
      "name": "Research Company - Perplexity1"
    },
    {
      "parameters": {
        "url": "https://api.apify.com/v2/acts/nikita-sviridenko~trustpilot-reviews-scraper/run-sync-get-dataset-items",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"companyDomain\": \"{{ $('Scrape Profiles + Posts - Relevance AI1').item.json.linkedin_profile_details_data.company_domain }}\",\n    \"count\": 5,\n    \"replies\": false,\n    \"sort\": \"recency\",\n    \"stars\": [\n        \"1\",\n        \"2\",\n        \"3\"\n    ],\n    \"startPage\": 1,\n    \"verified\": false\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -6100,
        580
      ],
      "id": "2f1b216f-b1ba-492e-ae39-86ae40eba4b1",
      "name": "TrustPilot Reviews (1-3 Stars)1",
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "maxItems": 3
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        -5660,
        155
      ],
      "id": "de56e51e-3c1d-49a0-a658-750bc6e6e714",
      "name": "Limit"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "openai/o1-mini",
          "mode": "list",
          "cachedResultName": "OPENAI/O1-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=# Overview\nYou are part of the cold email team at Kamexa, which is an AI Automation Agency. \n\nKamexa's offers the following services: \n- Business Automation: Automating internal business processes to save time, money or reduce error. \n- Marketing Automation: Automating marketing processes like SEO, cold email etc, to generate leads with minimal investment of time or money. \n- Automation Consulting: Advice on automating various processes. \n\n# Task\nYour job is to analyse the research found on a prospect, in preparation for a cold email. \nFor each prospect you must find the following: \n\n*1. Personalization opportunity:* Cold emails perform much better when personalized. You must analyse the research found on the prospect to identify the top personalization opportunities. The personalization can be one of the following: \n- Referencing content they’ve posted [best one].\n- Mentioning a specific achievement or news related to themselves or their business.\n- personalized compliment or observation about the recipient’s work.\n- Mentioning unique aspects of their professional background. \nThe references must be highly specific that couldn't be mass-generated. Adding each reference to the cold email should feel like a 1 to 1 communication, showing we've done our research on the prospect. Aim: Reader thinks “Whoa, this is for me.” If you can't find any good personalization opportunities, then leave this blank. \n\n\n*2. Pain points and solutions:* Analyse the research to identify the prospects biggest pain points. Take into consideration their role, their company details and all other research to predict what their biggest bottle necks are. Then think of these pain points in terms of Kamexa's services - Which ones can we solve? List the 2 biggest pain points that we can help with and define the actionable solution we can offer them. Turn the actionable solution into a clear and concise offer. \n- The solutions should be specific offerings, not broad services. So instead of saying \"automation\", you must clearly define exactly what process will be automated.\n\n\n# Output Format \nYour output must be in the following format: \n\n*Personalization*\n1. Opportunity: HERE\nSupporting Evidence: HERE\n\n2. Opportunity: HERE\nSupporting Evidence: HERE\n\n(…add more as needed)\n\n⸻\n\n*Pain Points & Solutions*\n1. Pain Point: HERE\nSupporting Evidence: HERE\nOffer: HERE\n\n2. Pain Point: HERE\nSupporting Evidence: HERE\nOffer: HERE\n\nWhere supporting evidence is where you must include specific examples and evidence from the research that support your findings. You must give enough detail in the HERE sections so the reader does not need to revisit the research to create a cold email.\nThe opportunities should also be explained in detail, so the reader has enough context to understand the opportunity. So for example, instead of saying \"news A\", you must explain exactly what \"news A\" entitles and why it's significant. \n\n- Don't output anything else.\n- Replace HERE with the relevant string.\n- If there are no clear personalization opportunities, then replace HERE with null. \n- Make sure your outputs are well thought out. \n\n# Complete the analysis for the following prospect. \n\nResearch: \n\n1. Scraped LinkedIn profile in JSON format: \n{{ $('Scrape Profiles + Posts - Relevance AI1').item.json.linkedin_profile_details_data.toJsonString() }}\n\n2. Company research from searching the web: \n{{ $json.choices[0].message.content }}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -5000,
        80
      ],
      "id": "cca693e7-18ee-4db9-bab3-47058cdacf10",
      "name": "Analyse",
      "credentials": {
        "openAiApi": {
          "id": "DCNgLG2517avXWdE",
          "name": "Cuenta Joel"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "anthropic/claude-3.7-sonnet",
          "mode": "list",
          "cachedResultName": "ANTHROPIC/CLAUDE-3.7-SONNET"
        },
        "messages": {
          "values": [
            {
              "content": "=You are part of the cold email team for Kamexa, which is an AI Automation Agency offering process automation, marketing automation and automation consulting to businesses around the world. \n\nYour job is to create 3 emails given the following info about a new cold lead: \n\n1. Research: Findings about the prospect by researching them on social media and the web. \n2. Analysis: Insights extracted from analysing the research. \n3. Tactic: Strategy to create the cold emails. \n\nYour job is to create a cold email sequence of 3 emails which will be sent 2 days apart. The tactic for each email should closely follow the instructions below, whilst the content of each email must follow the research and analysis. \n\n\n# Tactic: \n\n1. Email#1: \n\n1.1 Subject line: \n\nThe email subject line should : \n- Be maximum 4 words \n- Include the prospects name or company name (choose based on context) when possible without sounding unnatural \n- Never include spam trigger words like “free,” “guarantee,” “no obligation,” \"price,\" \"100%\" \"sale,\" and excessive punctuation, which can trigger spam filters. \n- Create curiousity without sounding spammy or like we're selling them anything \n\n\n1.2 Body\n\nStructure: The email must follow this structure closely:\na) Hook: The first 2 or 3 sentences of the email is a hook. The hook should be the personalization part of the email, capturing the prospects attention so they don't scroll. \nb) Pain point: After the hook, you must outline a pain point that was analysed about the prospect. This shouldn't sound salesy, but should be directly related to their business. The goal is to capture the readers attention, not sell them a solution. \nc) CTA: Say you've been working on solving that problem and would love to share your insights over a quick 15 minute call on {{ ['Sunday','Monday','Tuesday','Wednesday','Thursday','Friday','Saturday'][(new Date().getDay() + 2) % 7] }}. Have a clear next step for them (for example \"Should I book you in?).\n\nGuidelines -  The email body should:\n\n- Be short (maximum 100 words).\n- Have short paragraphs (1 or 2 sentences in each) to include white space. \n- Use a conversational tone to keep the email casual. \n- Be \"You\" focused, incorporating \"you\" as much as possible.\n- Be in 6th-grade reading level with simple language. \n- Avoid images, attachments, videos, custom code, spammy words above, bullet points, punctuation.\n- Not have absurd claims (it should be believable).\n- Should always start with \"Hey {{ $('Limit').item.json['First Name'] }} ,\"\n- Should be concise. \n- Never start with formal openers like \"Hope you're doing well\" (Get right into the email every time).\n- Be nice and inviting.\n- End with \"Kind regards, Kia\"\n\n2. Email#3: \n\nThis email should follow the same structure and guidelines and Email#1, with the following differences: \n- It should mention a different pain point identified. \n- The call to action should include the following calendly link so the prospect can book a time that suits: https://calendly.com/kia-24ll/ai-consultation-clone \n- Should be like you already know them from the previous conversation, so it shouldn't include any personalisation other than the prospects name. Can start with a variation of I was thinking about {Prospect Company Name} again and...\n\n\n3. Email#2: \nThis email will be in the same thread as email#1 and is considered a followup email (so it doesn't need a subject line).\nThe email should be a close variant of this email: \n\"Hey {{ $('Scrape Profiles + Posts - Relevance AI1').item.json.linkedin_profile_details_data.first_name }}, \nJust pushing this back up your inbox incased you missed it. \nLook forward to hearing from you. \nKind regards, \nKia\" \n\n# Rules - Other things to consider: \n- Your goal is to create an engaging email that will get us a reply. Choose the best pain points and personalization opportunities from the analysis to achieve this objective. \n- You must closely follow the guidelines provided for each email. \n- Never come across condescending or rude when mentioning the pain point. \n- When using the personalization opportunities from the analysis, always mention where the info was found - usually  \"Online\" or \"LinkedIn\" (look at Supporting Evidence for this).\n\n# Output format\nYour output must follow this JSON format: \n\n{\n  \"email1\": {\n    \"subject\": \"TEXT-HERE\",\n    \"body\": \"HTML-HERE\"\n  },\n  \"email2\": {\n    \"body\": \"HTML-HERE\"\n  },\n  \"email3\": {\n    \"subject\": \"HERE\",\n    \"body\": \"HTML-HERE\"\n  }\n}\n\n- Don't wrap the output in ```json```. \n- Don't output anything else. \n- Keep the HTML code to a minimum by using only <br> for line breaks and nothing else.\n\n# Task: New prospect\nThere's a new prospect. Create the emails by considering the following details: \n\n1. Research: \nFirst name: {{ $('Limit').item.json['First Name'] }} \nCompany name: {{ $('Scrape Profiles + Posts - Relevance AI1').item.json.linkedin_profile_details_data.company }} (ignore any legal suffixes like pty ltd or llc) \n\n2. Analysis: \n{{ $json.message.content }} \n"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -4640,
        80
      ],
      "id": "1f1940e6-da00-4b5d-9ca4-f6f9b5d83d67",
      "name": "Email #1 #2 #3"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "=  {{ $json.message.content.replaceAll('```json','').replaceAll('```','') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -4280,
        80
      ],
      "id": "c393191c-2d06-495c-9dcb-8be0162b0d66",
      "name": "Emails",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        -4060,
        155
      ],
      "id": "e324c5ae-66bc-4cbc-8b8e-9ef52943aad1",
      "name": "Merge"
    },
    {
      "parameters": {
        "jsCode": "// Loop over each item passed from the Merge node\nfor (const item of items) {\n\t// Get the country value (make sure to match the field name exactly)\n\tconst countryRaw = item.json[\"Country \"];\n\tlet country = \"\";\n\tif (countryRaw) {\n\t\tcountry = countryRaw.toLowerCase().trim();\n\t}\n\n\t// Define arrays for the different time zone groups\n\tconst t1Countries = [\"usa\", \"united states\", \"canada\"];\n\tconst europeanCountries = [\n\t\t\"albania\", \"andorra\", \"armenia\", \"austria\", \"azerbaijan\", \"belarus\", \"belgium\",\n\t\t\"bosnia and herzegovina\", \"bulgaria\", \"croatia\", \"cyprus\", \"czech republic\", \"czechia\",\n\t\t\"denmark\", \"estonia\", \"finland\", \"france\", \"georgia\", \"germany\", \"greece\", \"hungary\",\n\t\t\"iceland\", \"ireland\", \"italy\", \"kosovo\", \"latvia\", \"liechtenstein\", \"lithuania\",\n\t\t\"luxembourg\", \"malta\", \"moldova\", \"monaco\", \"montenegro\", \"netherlands\", \"north macedonia\",\n\t\t\"norway\", \"poland\", \"portugal\", \"romania\", \"russia\", \"san marino\", \"serbia\", \"slovakia\",\n\t\t\"slovenia\", \"spain\", \"sweden\", \"switzerland\", \"turkey\", \"ukraine\", \"united kingdom\",\n\t\t\"vatican city\"\n\t];\n\tconst t3Countries = [\"australia\", \"new zealand\"];\n\n\t// Determine and populate the Time Zone based on the country value\n\tif (t1Countries.includes(country)) {\n\t\titem.json[\"Time Zone\"] = \"T1\";\n\t} else if (europeanCountries.includes(country)) {\n\t\titem.json[\"Time Zone\"] = \"T2\";\n\t} else if (t3Countries.includes(country)) {\n\t\titem.json[\"Time Zone\"] = \"T3\";\n\t} else {\n\t\t// For any other country not defined above, assign T4.\n\t\t// If you want to limit to T1, T2, or T3 only, you can decide to leave it blank or assign a default value.\n\t\titem.json[\"Time Zone\"] = \"T4\";\n\t}\n}\n\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3840,
        155
      ],
      "id": "e7cc390c-d41c-4e62-961d-c56e1a101372",
      "name": "Time Zone"
    },
    {
      "parameters": {
        "jsCode": "// Array of sender emails to rotate through\nconst senderEmails = [\n  \"kiaghasem.dev@gmail.com\",\n  \"kia@kamexa.ai\",\n  \"youremail@gmail.com\"\n];\n\n// Get all input items from the Time Zone node\nconst items = $input.all();\n\n// Process each item\nfor (let i = 0; i < items.length; i++) {\n  // Calculate which email to use based on position (cycling through the array)\n  const emailIndex = i % senderEmails.length;\n  \n  // Assign the sender email to the current item\n  items[i].json[\"Sender Email\"] = senderEmails[emailIndex];\n}\n\n// Return the updated items\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3620,
        155
      ],
      "id": "e8429f83-3401-4ed0-adf8-c5a348cc595f",
      "name": "Sender Email"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1pY5nJihyUUObA1LpbhdgANq0DSX7A9TLOTWlEr9PMBk",
          "mode": "list",
          "cachedResultName": "Research",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1pY5nJihyUUObA1LpbhdgANq0DSX7A9TLOTWlEr9PMBk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1pY5nJihyUUObA1LpbhdgANq0DSX7A9TLOTWlEr9PMBk/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "LinkedIn URL": "={{ $json[\"LinkedIn URL\"] }}",
            "Research Report": "={{ $('Analyse').item.json.message.content.replaceAll('\\n','<br>') }}",
            "Email#1 Body": "={{ $json.email1.body.replaceAll('\\n','<br>') }}",
            "Email#1 Subject": "={{ $json.email1.subject }}",
            "Email #2 Body": "={{ $json.email2.body.replaceAll('\\n','<br>') }}",
            "Email#3 Body": "={{ $json.email3.body.replaceAll('\\n','<br>') }}",
            "Email#3 Subject": "={{ $json.email3.subject }}",
            "Sender Email": "={{ $json['Sender Email'] }}",
            "Time Zone": "={{ $json['Time Zone'] }}",
            "Replied": "No",
            "Opted Out": "No",
            "Analysed": "Yes",
            "Email#1 Sent": "No",
            "Email#2 Sent": "No",
            "Email#3 Sent": "No",
            "Token": "={{ $json.token }}"
          },
          "matchingColumns": [
            "LinkedIn URL"
          ],
          "schema": [
            {
              "id": "First Name",
              "displayName": "First Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Last Name",
              "displayName": "Last Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email Address",
              "displayName": "Email Address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Phone Number",
              "displayName": "Phone Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Country ",
              "displayName": "Country ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Location",
              "displayName": "Location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Industry",
              "displayName": "Industry",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Company Name",
              "displayName": "Company Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Job Title",
              "displayName": "Job Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Seniority",
              "displayName": "Seniority",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Website URL",
              "displayName": "Website URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "LinkedIn URL",
              "displayName": "LinkedIn URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Analysed",
              "displayName": "Analysed",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Research Report",
              "displayName": "Research Report",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email#1 Body",
              "displayName": "Email#1 Body",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email#1 Subject",
              "displayName": "Email#1 Subject",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email #2 Body",
              "displayName": "Email #2 Body",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email#3 Body",
              "displayName": "Email#3 Body",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email#3 Subject",
              "displayName": "Email#3 Subject",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Sender Email",
              "displayName": "Sender Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Time Zone",
              "displayName": "Time Zone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email#1 Sent",
              "displayName": "Email#1 Sent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Email#2 Sent",
              "displayName": "Email#2 Sent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Email#3 Sent",
              "displayName": "Email#3 Sent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Message ID",
              "displayName": "Message ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Replied",
              "displayName": "Replied",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Token",
              "displayName": "Token",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Opted Out",
              "displayName": "Opted Out",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -3180,
        155
      ],
      "id": "7a06a483-680b-462b-9774-e5dcc710bf85",
      "name": "Google Sheets2"
    },
    {
      "parameters": {
        "jsCode": "// Loop through each item in the input\nfor (let i = 0; i < items.length; i++) {\n  // Calculate the batch value (B1, B2, B3, cycling)\n  const batchNumber = (i % 3) + 1;\n  \n  // Update the Batch field\n  items[i].json.Batch = `B${batchNumber}`;\n}\n\n// Return the updated items\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -6100,
        415
      ],
      "id": "850f587e-1f0f-4c21-817d-2ca2f9ca5a30",
      "name": "Batch"
    },
    {
      "parameters": {
        "jsCode": "// Function to generate a random 6-digit number\nfunction generateRandomToken() {\n  return Math.floor(100000 + Math.random() * 900000);\n}\n\n// Process each item from the Sender Email node\nfor (let i = 0; i < items.length; i++) {\n  // Add the token parameter to each item\n  items[i].json.token = generateRandomToken();\n}\n\n// Return the modified items\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3400,
        155
      ],
      "id": "f55c270f-c017-416d-a3c5-1fde4ac04bab",
      "name": "Opt Out Token"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -6100,
        20
      ],
      "id": "7ffceaf3-246d-44e6-96fe-a5db617bf931",
      "name": "When clicking ‘Execute workflow’"
    }
  ],
  "pinData": {
    "Schedule Trigger": [
      {
        "json": {
          "timestamp": "2025-04-05T21:54:33.246+11:00",
          "Readable date": "April 5th 2025, 9:54:33 pm",
          "Readable time": "9:54:33 pm",
          "Day of week": "Saturday",
          "Year": "2025",
          "Month": "April",
          "Day of month": "05",
          "Hour": "21",
          "Minute": "54",
          "Second": "33",
          "Timezone": "Australia/Sydney (UTC+11:00)"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "Europe/Madrid",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-07-16T17:49:03.000Z",
  "versionId": "52031e37-b1dd-47bc-afc7-de58225bdb2c"
}